/* * {
  --background-color-primary: rgb(52, 52, 52);
  --background-color-secondary: rgb(43, 43, 43);
  --color-primary: rgb(221, 221, 221);
  --color-secondary: rgb(190, 190, 190);
  --highlight-primary: rgb(0, 101, 114);
}

html, body {
  background-color: var(--background-color-primary);
  color: var(--color-primary);
  height: 100%;
  margin: 0;
  padding: 0;
}

div.columns, input.input {
  background-color: var(--background-color-primary);
  color: var(--color-primary);
} */
body {
  background-color: black;
  
}

.hero, .footer {
  font-size: 1em;
  font-family: "Alegreya Sans SC", Calibri, "Trebuchet MS", sans-serif;
  color: white;
}

#radiusMiles {
  color: white;
}

label {
  font-size: 25px;
}

.is-my-color {
  background-color: #6F000A !important;
}